.sidebar{

    position: fixed;
    top:80px;
    width: 110px;
    left:0px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:start;
  
    margin-bottom: 30px;
   
}
.div-home{
margin-top: 5px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;


}

.home-button{
     display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center; 
    height: 110px;
    width: 100%;
    background-color: white;
    border: none;
    cursor: pointer;
}
.home-img{
    margin-top: 10px;
    width: 35px;
    margin-bottom: 10px;
}
.home-button:hover{
    background-color: rgb(222, 222, 222);
}

.home-text{
    margin-top: 0px;
font-size: 15px;

}